@model Category
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddOrUpdate</h1>

<div class="container">
    <h1>Create Blog</h1>
    <br />
    <form asp-controller="Category" asp-action="AddOrUpdate" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>